<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | DashBoard</title>
    <link rel="icon" href="/images/logo.webp" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css">
</head>
<body class="bg-[#FFEDD0]">
    <header class="h-[9vh] bg-[#0B2027] w-full md:w-[50vw] md:mx-auto flex items-center justify-between px-6">
        <div class="flex justify-center">
            <img loading="lazy" src="/images/logo.webp" alt="Something" class="object-cover h-12 w-12 mb-1">
            <h5 class="text-xl font-grotesk pt-3 text-gray-100 font-semibold">Manjusha Mann</h5>
        </div>
        <div>
            <a href="/" class="text-gray-100 text-4xl"><i class="ri-menu-3-fill"></i></a>
        </div>
    </header>
    <h1 class="text-3xl font-semibold mt-8 text-center underline">Admin Dashboard</h1>

 <!-- component -->
<div class="flex items-center justify-center px-12 py-8">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px]">
      <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        
        <!-- Video Upload Section -->
        <div class="mb-5">
          <label
            for="video"
            class="mb-3 block text-2xl font-medium text-[#07074D]"
          >
            Upload Video
          </label>
          <input
            type="file"
            name="video"
            accept="video/*"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
  
        <!-- Text Input Section -->
        <div class="mb-5">
          <label
            for="text"
            class="mb-3 block text-2xl font-medium text-[#07074D]"
          >
            Write Text Here
          </label>
          <textarea name="text" placeholder="Enter a longer text here" rows="6" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"></textarea>

        </div>
  
        <!-- Submit Button -->
        <div>
          <button
            type="submit"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
          >
            Upload
          </button>
        </div>
      </form>
      <div class="w-[80vw] mt-4 py-4 px-5 border-2 border border-black rounded-lg">
        <h1 class="text-2xl tracking-wide font-semibold mb-2">Today's site visits : <span class="text-red-400 font-grotesk"><%= todaysVisits.count %></span></h1>
        <hr class="mb-2 bg-black">
        <h1 class="text-2xl tracking-wide font-semibold">Yesterday's site visits : <span class="text-red-400 font-grotesk"><%= yesterdaysVisits.count %></span></h1>
      </div>
    </div>
  </div>
  
  
</body>
</html>